.page-presenter-home {
}

.visit {
  font-size: 2em;
  text-align: center;
  padding-bottom: 2vh;
}

.text-center {
  text-align: center;
}

.highscore-list {
  padding-top: 3vh;
}

.highscore-header {
  margin-top: 1vh;
  margin-bottom: 2vh;
  -webkit-animation: fadeInOut 2s ease-in-out 0s infinite;
  animation: fadeInOut 2s ease-in-out 0s infinite;
}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: .1
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: .1
  }
}

@keyframes fadeInOut {
  0% {
    opacity: .1
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: .1
  }
}

.golden {
  color: #E5E58F;
}

.green {
  color: #c1fbbf;
}

.highscore-item {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 50%;
}

.highscore-first h5 {
  color: #E5E58F;
}


.highscore-item h5 {
  font-size: 1.1em;
  display: block;
  font-weight: bold;
  margin: 5px 0 8px 6vw;
}

img.highscore-avatar {
  width: 5vw;
  height: 5vw;
  float: left;
}

.highscore-item p {
  display: block;
  margin: 0 0 8px 6vw;
}


.highscore-rank {
  font-size: 1.1em;
  font-weight: bold;
}

.highscore-score {
  font-size: 1.1em;
  font-weight: bold;
}