.page-home {
  text-align: center;
}

.avatar-home {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.home-button-list {
}

.home-button-list-item {
  margin-bottom: 5px;
}

.home-button {
  width: 100%;
}